<h1>Web Hosting from Mike Varrieur</h1>
<div class="row span8 plans">
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>$10</h2></div>
    <ul class="unstyled">
      <li>Monthly Web Hosting</li>
    </ul>
    <h3>$10/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => '10monthly'), :class => 'btn btn-primary' %> 
  </div>
</div>